.sitesList {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}
.siteItem {
  flex: 0 0 calc(33.333% - 20px);
  border: 1px solid #efefef;
  padding: 10px;
  list-style-type: none;
  cursor: pointer;

  &:hover {
    background-color: #f5f5f5;
    transition: background-color 0.3s ease;
  }
}

.sitePage {
  button {
    margin-bottom: 8px;
  }
}
